.toolbarContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: #D3D3D3;
  color: #fff;
}

.title {
  flex: 2;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.hr_shadow_line {
    border: none;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: #D3D3D3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
  


